In [1]:
#bibliotecas para tratamento dos dados
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_metal = pd.read_csv('../Base de dados/csv/metal_dataset.csv', sep = ',', header = 0, na_values = True)

In [3]:
display(df_metal.head(3))

,Std,ID,Material,Heat treatment,Su,Sy,A5,Bhn,E,G,mu,Ro,pH,Desc,HV
0,ANSI,D8894772B88F495093C43AF905AB6373,Steel SAE 1015,as-rolled,421,314,39.0,126.0,207000,79000,0.3,7860,NaN,NaN,NaN
1,ANSI,05982AC66F064F9EBC709E7A4164613A,Steel SAE 1015,normalized,424,324,37.0,121.0,207000,79000,0.3,7860,NaN,NaN,NaN
2,ANSI,356D6E63FF9A49A3AB23BF66BAC85DC3,Steel SAE 1015,annealed,386,284,37.0,111.0,207000,79000,0.3,7860,NaN,NaN,NaN

In [4]:
len(df_metal)

1552

In [5]:
display(df_metal.describe(include = 'all'))

,Std,ID,Material,Heat treatment,Su,Sy,A5,Bhn,E,G,mu,Ro,pH,Desc,HV
count,1552,1552,1552,802,1552.000000,1552,1339.000000,463.000000,1552.000000,1552.000000,1552.000000,1552.000000,193.000000,981,165.000000
unique,8,1552,1225,44,NaN,291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83,NaN
top,ANSI,D8894772B88F495093C43AF905AB6373,Nodular cast iron,Wrought,NaN,345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Heat-treatment steel,NaN
freq,622,1,20,203,NaN,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105,NaN
mean,NaN,NaN,NaN,NaN,572.753222,NaN,19.425243,177.138229,164571.520619,85598.840206,0.302977,6929.843428,627.393782,NaN,328.484848
std,NaN,NaN,NaN,NaN,326.834927,NaN,12.383319,113.508044,56135.405867,125326.800138,0.024590,2115.171710,370.530293,NaN,202.764089
min,NaN,NaN,NaN,NaN,69.000000,NaN,0.500000,19.000000,73000.000000,26000.000000,0.200000,1750.000000,190.000000,NaN,105.000000
25%,NaN,NaN,NaN,NaN,340.000000,NaN,11.000000,78.000000,105000.000000,40000.000000,0.300000,7160.000000,370.000000,NaN,192.000000
50%,NaN,NaN,NaN,NaN,500.000000,NaN,16.000000,170.000000,206000.000000,79000.000000,0.300000,7860.000000,460.000000,NaN,230.000000
75%,NaN,NaN,NaN,NaN,705.000000,NaN,24.750000,229.000000,206000.000000,80000.000000,0.320000,7860.000000,796.000000,NaN,492.000000
max,NaN,NaN,NaN,NaN,2220.000000,NaN,70.000000,627.000000,219000.000000,769000.000000,0.350000,8930.000000,1360.000000,NaN,800.000000

std = standard
ID = unique identificatin code for the material
Material = Material Name
Su = Tensile strenght in MPA
Sy = Yield Strength in MPA
A5 = Elongation at break or strain (A5) as a percentage
Bhn = Brinell Hardness Number in Microhardness units
E = elastic modulus in MPA
G = Shear modulus  in MPA
mu = poisson ration in units of length
Ro = density in kg/m3
ph = pressure at yield in MPA
Desc = description of the material
HV = Vickers hardness Number

In [6]:
#retirando todos valores faltantes
df_metal.fillna(0, inplace=True)

In [7]:
#removendo o texto max de todos da coluna Sy
df_metal['Sy'] = df_metal['Sy'].str.replace('max', '').astype(int)

In [8]:
#definindo Heat treatment para tipo de texto
df_metal['Heat treatment'] = df_metal['Heat treatment'].astype(str)

In [9]:
#removendo valores Na que não foram identificados
df_metal.dropna(inplace = True)

In [10]:
#removendo dados duplicados
df_metal.drop_duplicates(keep = 'last', inplace = True)

In [11]:
df_metal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1552 entries, 0 to 1551
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Std             1552 non-null   object
 1   ID              1552 non-null   object
 2   Material        1552 non-null   object
 3   Heat treatment  1552 non-null   object
 4   Su              1552 non-null   int64
 5   Sy              1552 non-null   int64
 6   A5              1552 non-null   float64
 7   Bhn             1552 non-null   float64
 8   E               1552 non-null   int64
 9   G               1552 non-null   int64
 10  mu              1552 non-null   float64
 11  Ro              1552 non-null   int64
 12  pH              1552 non-null   float64
 13  Desc            1552 non-null   object
 14  HV              1552 non-null   float64
dtypes: float64(5), int64(5), object(5)
memory usage: 182.0+ KB

In [12]:
#removendo colunas desnecessáraise
df_metal.drop(['Desc', 'HV', 'pH', 'ID'], axis = 1, inplace = True)

In [13]:
df_metal['Heat treatment'].unique()

array(['as-rolled', 'normalized', 'annealed', 'tempered at 400 F',
       'tempered at 600 F', 'tempered at 800 F', '1/4-hard', '1/2-hard',
       '3/4-hard', 'Full-hard', '0', 'As hot rolled', 'As extruded',
       'Cast (T7)', 'Cast (T4)', 'Cast (F)', 'Cast (T61)', 'Cast (T77)',
       'Cast (T6)', 'Cast (T62)', 'Cast (T51)', 'Cast (T71)',
       'Cast (F or T5)', 'Cast (T5)', 'Cast (T52)', 'Cast (T53)',
       'Wrought', 'sand casting', 'pressure die casting', 'heat treated',
       'case-hardened', 'face hardened', 'nitro-carburized',
       'nitro-case-hard.', 'nitrided', 'Heat-treatment nitrided steel',
       'Cold working', 'Annealing or high tempering', 'Improved',
       'Quenched and tempered', 'Quenching and cooling in the water',
       'Quenching and cooling in the oil', 'Quenching and heating',
       'Case hardening,quenching and cooling in the oil', 'Annealing'],
      dtype=object)

In [14]:
#removendo os dados que não contém um tipo de tratamento 
df_metal = df_metal[(df_metal['Heat treatment'] != '0')]

In [15]:
df_metal.describe(include = 'all')

,Std,Material,Heat treatment,Su,Sy,A5,Bhn,E,G,mu,Ro
count,802,802,802,802.000000,802.000000,802.000000,802.000000,802.000000,802.000000,802.000000,802.000000
unique,8,545,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,ANSI,Steel 45 GOST 1050-88,Wrought,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,440,9,203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,630.819202,446.684539,14.080299,85.428928,159251.870324,103849.127182,0.309027,6045.145885
std,NaN,NaN,NaN,394.396080,348.850352,11.041360,120.035661,63107.176755,171462.457152,0.015660,2521.218412
min,NaN,NaN,NaN,69.000000,28.000000,0.000000,0.000000,73000.000000,26000.000000,0.290000,1750.000000
25%,NaN,NaN,NaN,310.000000,214.000000,6.000000,0.000000,73000.000000,26000.000000,0.300000,2700.000000
50%,NaN,NaN,NaN,574.500000,345.500000,12.000000,21.000000,204000.000000,79000.000000,0.300000,7850.000000
75%,NaN,NaN,NaN,800.000000,556.000000,19.925000,156.000000,206000.000000,80000.000000,0.330000,7860.000000
max,NaN,NaN,NaN,2220.000000,2048.000000,60.000000,627.000000,219000.000000,769000.000000,0.330000,8800.000000

Análise gráfica do comportamento dos dados

In [ ]:
#pairplot dos principais
sns.set_theme(style ='ticks')

sns.pairplot(data= df_metal, vars = ['Su', 'Sy', 'E', 'Ro', 'G', 'Bhn'], hue = 'Heat treatment', corner = True, palette = 'viridis')

plt.show()

In [ ]:
#boxplot
sns.set_theme(style = 'dark')

f, ax = plt.subplots(figsize = (20,20))

sns.boxplot(data = df_metal,  x = 'E', y = 'Std', palette = 'viridis')
sns.stripplot(data = df_metal, x = 'E', y = 'Std', alpha = 0.7)

plt.show()

In [17]:
#selecionando apenas os conjuntos de dados pertecentes aos dois grupos de padrão 
df_metal_analise = df_metal[(df_metal['Std'] == 'ANSI') | (df_metal['Std'] == 'GOST')]

In [18]:
df_metal_analise.head(3)

,Std,Material,Heat treatment,Su,Sy,A5,Bhn,E,G,mu,Ro
0,ANSI,Steel SAE 1015,as-rolled,421,314,39.0,126.0,207000,79000,0.3,7860
1,ANSI,Steel SAE 1015,normalized,424,324,37.0,121.0,207000,79000,0.3,7860
2,ANSI,Steel SAE 1015,annealed,386,284,37.0,111.0,207000,79000,0.3,7860

In [ ]:
#boxplot
sns.set_theme(style = 'dark')

f, ax = plt.subplots(figsize = (10,10))

sns.boxplot(data = df_metal_analise,  x = 'Std', y = 'E', width = 0.5, palette = 'viridis')
sns.stripplot(data = df_metal_analise, x = 'Std', y = 'E', size = 4, color = '0.3', linewidth=0, alpha = 0.7)

#parte visual do gráfico
ax.yaxis.grid(True)
ax.set(ylabel='Módulo de Young (MPA)')
ax.set(xlabel='Padrão de ensaio')
sns.despine(trim = True, left = True)

plt.show()

In [ ]:
#boxplot
sns.set_theme(style = 'dark')

f, ax = plt.subplots(figsize = (10,10))

sns.boxplot(data = df_metal_analise,  x = 'E', y = 'Heat treatment', width = 0.5, palette = 'viridis')
sns.stripplot(data = df_metal_analise, x = 'E', y = 'Heat treatment', size = 4, color = '0.3', linewidth=0, alpha = 0.7)

#parte visual do gráfico
ax.yaxis.grid(True)
ax.set(ylabel=' Tipo de tratamento térmico')
ax.set(xlabel='Módulo de Young (MPA)')
sns.despine(trim = True, left = True)

plt.show()

In [ ]:
# hsitogramas da distribuições dos parâmetros
sns.set_theme(style = 'dark')
sns.set_color_codes('colorblind')

f, ax = plt.subplots(figsize = (20,20))

sns.barplot(data = df_metal_analise, x ='E', y = 'Heat treatment', hue = 'Std', errorbar = 'sd', alpha = 0.6)

#legenda e eixos
ax.legend(ncol =2, loc = 'lower right', frameon = True)
ax.set(ylabel = 'Tipo de tratamento térmico')
ax.set(xlabel = 'Módulo de Young (MPA)')

In [ ]:
#scatterplot
sns.set_theme(style = 'dark')

f, ax = plt.subplots(figsize = (10,10))

sns.despine(f, left = True, bottom = True)
sns.scatterplot(x = 'E', y = 'Su', hue = 'Std', palette = 'viridis', data = df_metal_analise, ax=ax)

In [19]:
df_metal_analise.describe().round()

           Su      Sy     A5    Bhn         E         G     mu      Ro
count   675.0   675.0  675.0  675.0     675.0     675.0  675.0   675.0
mean    585.0   410.0   14.0  102.0  150456.0  108336.0    0.0  5704.0
std     390.0   340.0   11.0  124.0   65143.0  186579.0    0.0  2611.0
min      69.0    28.0    0.0    0.0   73000.0   26000.0    0.0  1750.0
25%     276.0   200.0    6.0    0.0   73000.0   26000.0    0.0  2700.0
50%     524.0   320.0   12.0   60.0  200000.0   77000.0    0.0  7820.0
75%     733.0   466.0   20.0  176.0  207000.0   80000.0    0.0  7860.0
max    2220.0  2048.0   60.0  627.0  219000.0  769000.0    0.0  8800.0

In [20]:
def categoria(row):
    if (((df_metal_analise['Su'].mean()-df_metal_analise['Su'].std()) <= row['Su'] <= (df_metal_analise['Su'].mean()+df_metal_analise['Su'].std())) & 
        ((df_metal_analise['Sy'].mean()-df_metal_analise['Sy'].std()) <= row['Sy'] <= (df_metal_analise['Sy'].mean()+df_metal_analise['Sy'].std())) & 
        ((df_metal_analise['A5'].mean()-df_metal_analise['A5'].std())<= row['A5'] <= (df_metal_analise['A5'].mean()+df_metal_analise['A5'].std())) &
        ((df_metal_analise['Bhn'].mean()-df_metal_analise['Bhn'].std()) <= row['Bhn'] <= (df_metal_analise['Bhn'].mean()+df_metal_analise['Bhn'].std())) &
        ((df_metal_analise['E'].mean()-df_metal_analise['E'].std()) <= row['E'] <= (df_metal_analise['E'].mean()+df_metal_analise['E'].std())) &
        ((df_metal_analise['G'].mean()-df_metal_analise['G'].std()) <= row['G'] <= (df_metal_analise['G'].mean()+df_metal_analise['G'].std())) &
        ((df_metal_analise['mu'].mean()-df_metal_analise['mu'].std()) <= row['mu'] <= (df_metal_analise['mu'].mean()+df_metal_analise['mu'].std())) &
        ((df_metal_analise['Ro'].mean()-df_metal_analise['Ro'].std()) <= row['Ro'] <= (df_metal_analise['Ro'].mean()+df_metal_analise['Ro'].std()))):
        return 5
    elif (((df_metal_analise['Su'].mean()-1.2*df_metal_analise['Su'].std()) <= row['Su'] <= (df_metal_analise['Su'].mean()+1.2*df_metal_analise['Su'].std())) & 
        ((df_metal_analise['Sy'].mean()-1.2*df_metal_analise['Sy'].std()) <= row['Sy'] <= (df_metal_analise['Sy'].mean()+1.2*df_metal_analise['Sy'].std())) & 
        ((df_metal_analise['A5'].mean()-1.2*df_metal_analise['A5'].std())<= row['A5'] <= (df_metal_analise['A5'].mean()+1.2*df_metal_analise['A5'].std())) &
        ((df_metal_analise['Bhn'].mean()-1.2*df_metal_analise['Bhn'].std()) <= row['Bhn'] <= (df_metal_analise['Bhn'].mean()+1.2*df_metal_analise['Bhn'].std())) &
        ((df_metal_analise['E'].mean()-1.2*df_metal_analise['E'].std()) <= row['E'] <= (df_metal_analise['E'].mean()+1.2*df_metal_analise['E'].std())) &
        ((df_metal_analise['G'].mean()-1.2*df_metal_analise['G'].std()) <= row['G'] <= (df_metal_analise['G'].mean()+1.2*df_metal_analise['G'].std())) &
        ((df_metal_analise['mu'].mean()-1.2*df_metal_analise['mu'].std()) <= row['mu'] <= (df_metal_analise['mu'].mean()+1.2*df_metal_analise['mu'].std())) &
        ((df_metal_analise['Ro'].mean()-1.2*df_metal_analise['Ro'].std()) <= row['Ro'] <= (df_metal_analise['Ro'].mean()+1.2*df_metal_analise['Ro'].std()))):
        return 4
    elif(((df_metal_analise['Su'].mean()-1.3*df_metal_analise['Su'].std()) <= row['Su'] <= (df_metal_analise['Su'].mean()+1.3*df_metal_analise['Su'].std())) & 
        ((df_metal_analise['Sy'].mean()-1.3*df_metal_analise['Sy'].std()) <= row['Sy'] <= (df_metal_analise['Sy'].mean()+1.3*df_metal_analise['Sy'].std())) & 
        ((df_metal_analise['A5'].mean()-1.3*df_metal_analise['A5'].std())<= row['A5'] <= (df_metal_analise['A5'].mean()+1.3*df_metal_analise['A5'].std())) &
        ((df_metal_analise['Bhn'].mean()-1.3*df_metal_analise['Bhn'].std()) <= row['Bhn'] <= (df_metal_analise['Bhn'].mean()+1.3*df_metal_analise['Bhn'].std())) &
        ((df_metal_analise['E'].mean()-1.3*df_metal_analise['E'].std()) <= row['E'] <= (df_metal_analise['E'].mean()+1.3*df_metal_analise['E'].std())) &
        ((df_metal_analise['G'].mean()-1.3*df_metal_analise['G'].std()) <= row['G'] <= (df_metal_analise['G'].mean()+1.3*df_metal_analise['G'].std())) &
        ((df_metal_analise['mu'].mean()-1.3*df_metal_analise['mu'].std()) <= row['mu'] <= (df_metal_analise['mu'].mean()+1.3*df_metal_analise['mu'].std())) &
        ((df_metal_analise['Ro'].mean()-1.3*df_metal_analise['Ro'].std()) <= row['Ro'] <= (df_metal_analise['Ro'].mean()+1.3*df_metal_analise['Ro'].std()))):
        return 3
    elif(((df_metal_analise['Su'].mean()-1.4*df_metal_analise['Su'].std()) <= row['Su'] <= (df_metal_analise['Su'].mean()+1.4*df_metal_analise['Su'].std())) & 
        ((df_metal_analise['Sy'].mean()-1.4*df_metal_analise['Sy'].std()) <= row['Sy'] <= (df_metal_analise['Sy'].mean()+1.4*df_metal_analise['Sy'].std())) & 
        ((df_metal_analise['A5'].mean()-1.4*df_metal_analise['A5'].std())<= row['A5'] <= (df_metal_analise['A5'].mean()+1.4*df_metal_analise['A5'].std())) &
        ((df_metal_analise['Bhn'].mean()-1.4*df_metal_analise['Bhn'].std()) <= row['Bhn'] <= (df_metal_analise['Bhn'].mean()+1.4*df_metal_analise['Bhn'].std())) &
        ((df_metal_analise['E'].mean()-1.4*df_metal_analise['E'].std()) <= row['E'] <= (df_metal_analise['E'].mean()+1.4*df_metal_analise['E'].std())) &
        ((df_metal_analise['G'].mean()-1.4*df_metal_analise['G'].std()) <= row['G'] <= (df_metal_analise['G'].mean()+1.4*df_metal_analise['G'].std())) &
        ((df_metal_analise['mu'].mean()-1.4*df_metal_analise['mu'].std()) <= row['mu'] <= (df_metal_analise['mu'].mean()+1.4*df_metal_analise['mu'].std())) &
        ((df_metal_analise['Ro'].mean()-1.4*df_metal_analise['Ro'].std()) <= row['Ro'] <= (df_metal_analise['Ro'].mean()+1.4*df_metal_analise['Ro'].std()))):
        return 2
    else:
        return 1

In [21]:
#calculando as categorias
df_metal_analise['categoria'] = df_metal_analise.apply(categoria, axis = 1)
df_metal_analise.describe().round()

/var/folders/jj/2kqphd8j77s7crw7lss83s5w0000gn/T/ipykernel_97941/3838614417.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_metal_analise['categoria'] = df_metal_analise.apply(categoria, axis = 1)

,Su,Sy,A5,Bhn,E,G,mu,Ro,categoria
count,675.000000,675.000000,675.000000,675.000000,675.000000,675.000000,675.000000,675.000000,675.000000
mean,584.880000,409.570370,14.061333,101.502222,150456.296296,108336.296296,0.310726,5703.684444,3.048889
std,389.751772,339.980396,11.094605,124.457343,65143.432944,186578.885476,0.016529,2610.918867,1.380979
min,69.000000,28.000000,0.000000,0.000000,73000.000000,26000.000000,0.290000,1750.000000,1.000000
25%,276.000000,200.000000,6.000000,0.000000,73000.000000,26000.000000,0.300000,2700.000000,1.000000
50%,524.000000,320.000000,12.000000,60.000000,200000.000000,77000.000000,0.300000,7820.000000,3.000000
75%,733.000000,466.500000,20.000000,176.500000,207000.000000,80000.000000,0.330000,7860.000000,4.000000
max,2220.000000,2048.000000,60.000000,627.000000,219000.000000,769000.000000,0.330000,8800.000000,5.000000

In [28]:
len(df_metal)

802

In [22]:
df_metal_ML = df_metal_analise

In [23]:
df_metal_ML['Material'] = df_metal_ML[['Std', 'Material', 'Heat treatment']].fillna(' ').agg(' '.join, axis = 1)
df_metal_ML.drop(['Std', 'Heat treatment'], axis = 1, inplace = True)

/var/folders/jj/2kqphd8j77s7crw7lss83s5w0000gn/T/ipykernel_97941/4115673772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_metal_ML['Material'] = df_metal_ML[['Std', 'Material', 'Heat treatment']].fillna(' ').agg(' '.join, axis = 1)
/var/folders/jj/2kqphd8j77s7crw7lss83s5w0000gn/T/ipykernel_97941/4115673772.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_metal_ML.drop(['Std', 'Heat treatment'], axis = 1, inplace = True)

In [26]:
df_metal_ML.to_csv('df_metal_ML.csv', index = False)